{%extends 'base.html'%}
{% load static%}
{%block title%}About{%endblock%}
{%block content%}
<div class="container pt-5 pb-5 text-white">
    <div class="row">
        <div class="col-lg-12 col-md-3">
        <h5 class="about-h3 text-uppercase text-center">about us</h5>
        <p class="pt-3"> Finding clothes that fit you perfectly no doubt is difficult but equally exhausting is the job of locating a good tailor and going for multiple fitting sessions. 
            we address this primitive concern in a very efficient manner.
            We enable users to select fabric, design it as per their style,
            and get the stitched piece of clothing delivered to their doorstep.
            We had never disappointed our customers by delaying delivery. 
        </p> 

        <br>
       
      
        <p class="" align="center">
            <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseid" aria-expanded="false" aria-controls="collapseExample">
              Know More
            </button>
          </p>
          <div class="collapse" id="collapseid">
                       <p class="">We concentrate mainly on
                <ul class="">
                <li class="">Shirts</li>
                <li>Skirts</li> 
                <li>Frocks</li> 
                <li>Kurthi</li> 
                <li>Tops</li> 
                <li>Blouses</li> 
                 <ul> 
                </p> 
                <br>
                <p class="text-center"> Our working hours:
                    Monday - Saturday(9.00am to 10.00pm)
                </p> 
          </div>
        </div>
    </div>
</div>
{%endblock%} 